* {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

/* HEADER */

.skewedBox {
  background-color: #C61A20;
  padding: 30px 0;
  margin-top: -15%;
  transform: skew(0deg, -15deg) translateY(-120px);
}

.logo {
  max-width: 100%;
  margin-top: 40%;
}

.logo-desktop {
  display: none;
}

.tagline {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

h1 span {
  display: none;
}

.main-container {
  margin-top: -2em;
  padding: 0 2em 1.5em 2em;
}

.main-container p {
  padding: 1em 0;
  line-height: 1.5em;
}

.subtitle {
  font-size: 1.3em;
  text-transform: uppercase;
}

.category {
  text-transform: uppercase;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  margin-bottom: 2em;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FOOTER */

footer {
  max-width: 100%;
  height: auto;
  background: #C61A20;
  text-align: center;
}

.footer-logo {
  max-width: 40%;
  height: auto;
  padding: 1em 0.5em 0;
}

ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  /* margin: 8px; */
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #C61A20;
  border-radius: 50%;
  font-size: 2em;
  position: relative;
  transition: .5s ease-in-out;
  color: #262626;
  z-index: 1;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: #C61A20;
}

ul li::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  transform: scale(0);
  transition: .5s ease-in-out;
  z-index: -1;
}

ul li:hover::before {
  transform: scale(0.9);
}

ul li:hover {
  color: white;
}

/* MEDIA QUERIES */

@media (min-width: 610px) {
  .skewedBox {
    margin-top: -10%;
    transform: skew(0deg, -15deg) translateY(-120px);
  }

  .header-container {
    margin-left: 1em;
    max-width: 80%;
    transform: skew(0deg, 15deg);
  }

  .logo {
    max-width: 70%;
    margin-top: 30%;
  }

  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .tagline {
    text-align: left;
    font-size: 1.2em;
  }

  .main-container {
    margin: -1em; 
    padding: 0 6em 3em 6em;
  }
  
}

@media (min-width: 760px) {
  .header-container {
    margin-left: 1.5em;
    max-width: 70%;
    transform: skew(0deg, 15deg);
  }

  .logo {
    max-width: 50%;
    /* margin-top: 30%; */
  }

  .main-container {
    margin: 0.75em;
    padding: 0 8em 3em 8em;
  }

  .main-container p {
    font-size: 1.2em;
  }

  .footer-logo {
    max-width: 20%;
    padding: 2em 0 0.5em 0;
  }
}

@media (min-width: 1024px) {
  .header-container {
    max-width: 60%;
  }
  .logo {
    margin-top: 25%;
  }

  .main-container {
    margin-top: 4em;
    padding: 0 12em 3.5em 12em;
  }

}

@media (min-width: 1600px) {
  .logo {
    margin-top: 20%;
  }

  .main-container {
    margin-top: 10em;
    padding: 0 25em 3.5em 25em;
  }

  .subtitle {
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 2em;
  }

  .main-container p {
    font-size: 1.5em;
  }

  .footer-logo {
    max-width: 10%;
    padding: 2em 0 0.5em 0;
  }

  
}