.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


footer {
  display: flex;
  justify-content: center;
  width: 100%; 
}

ul {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

ul li {
  list-style: none;
  float: left;
  margin: 8px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #EA2124; 
  border-radius: 50%;
  font-size: 40px;
  position: relative;
  transition: .5s ease-in-out;
  color: #262626;
  z-index: 1;
}

ul li a {
  color: black;
}

ul li:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  transform: scale(0);
  transition: .5s ease-in-out;
  z-index: -1;
}

ul li:hover:before
{
  transform: scale(0.9);
}

ul li:hover
{
  color:#EA2124;
}
